header{
    background-color:black;
    height: 200px;
    display: flex;
    align-items: center;
    }
.titleGuia{
    color:white;
    font-size:60px;
    font-family: "Anton";
    margin: 0 auto;
    text-align:center;
}
h1{
    font-size:50px;
}

body {
margin: 0;
padding: 0;
background: url(pics/fondo-watercolour.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
font-family: "Fredoka";
font-size: 20px;
font-weight: bold;
}
.div-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
padding:16px;
overflow:hidden;
}
.paintings{
margin:30px;
padding:30px;
float:left;
}
.buyBtn{
    display: flex;
    justify-content: center;
}

#btn,#btn1,#btn3{
    background-color:black;
    color: antiquewhite;
    padding: 15px 15px;
    font-family:"Fredoka";
    font-size: 20px;
    border-radius: 15px;
    font-weight: bold;
}

footer{
    display: flex;
    align-items:center;
    justify-content: center;
    font: black;
    font-family: "Helvetica";
    font-size: 14px;
}
.inputWr{
color:red;
font-family:"Fredoka";
}
.inputVa{
    color:green;
    font-family:"Fredoka";
}