
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amiko";
}

header {
  background-color: transparent;
  padding: 10px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 100%;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 10px;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.home-title {
  padding-left: 40px;
  margin-top: 32px;
  font-size: 45px;
}
.slider {
  position: relative;
  width: 80%;
  max-width: 600px;
  overflow: hidden;
  border: 2px solid #ddd;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  border-radius: 10px;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
